@charset "UTF-8";


@media screen and (min-width:962px){
#page_num{max-width:1200px;
		  min-width:300px;
		  height:20px;
		  margin:0 auto 60px;
		  text-align:center;
		  }

#page_num>div{overflow:hidden;
			  display:inline-block;
			  }

#page_num>div>p{float:left;
			margin:0 10px;
			font-size:16px;
			background:radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
					   rgba(200,200,200,0.3);
			background:-webkit-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			background:-moz-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			background:-o-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			width:25px; height:25px;
			line-height:25px;
			text-align:center;
			border-radius:50%;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			-ms-border-radius:50%;
			-o-border-radius:50%;
			}
#page_num>div>p>label{display:block;}
.content{position:relative;}
.controller{position:absolute;
				 right:0;
				 
				 border-radius:15px;
				 border:1px solid #000;
				 background:rgba(255,255,255,0.5);
				 text-align:center;
				z-index:500;
				}


.controller>ul>li>a{color:#000;
						 font:bold 1em  "Do Hyun",sans-serif;
						 padding:10px 5px;
						 display:block;
						}
.controller>ul>li>label{color:#000;
						 font:bold 1em  "Do Hyun",sans-serif;
						 padding:10px 5px;
						 display:block;
						}
.controller>ul>li{margin:10px 0;}


.controller>ul>li:not(:last-child):after{content:"";
							 display:block;
							 width:90%;
							 margin:0 auto;
							 height:1px;
							background:#ebebeb;}
.controller>ul>li>label>img,
.controller>ul>li>a>img{width:30px;}


.content_search_box input{display:block;}
.controller>ul>li:nth-child(3){position:relative;}

.content_search_box{position:absolute;
				 right:55px; bottom:0;
				 width:1000%; height:100%;
				 background:rgba(255,255,255,0.8);
				 border-radius:15px;
				 -webkit-border-radius:15px;
				 -moz-border-radius:15px;
				 -ms-border-radius:15px;
				 -o-border-radius:15px;
				transition:all ease-out 0.5s;
				-webkit-transition:all ease-out 0.5s;
				-moz-transition:all ease-out 0.5s;
				-ms-transition:all ease-out 0.5s;
				-o-transition:all ease-out 0.5s;
				transform:translateX(150%);
				-webkit-transform:translateX(150%);
				-moz-transform:translateX(150%);
				-ms-transform:translateX(150%);
				-o-transform:translateX(150%);
				display:none;
				padding:20px;
				box-sizing:border-box;
		}
.content_search_box>div{overflow:hidden;
					 
					 height:100%;
					}
.content_search_box>div>label,
.content_search_box>div>input{float:left;
						   display:block;
						   height:30px;
						   
						   font:bold 1em/30px "Do Hyun",sans-serif;
						   }
.content_search_box>div>label>img{display:block;
							   vertical-align:top;
							   
							  }
.content_search_box>div>label[for="content_search"]{margin-right:3%;}
.content_search_box>div>input[type="search"]{width:50%;
										  margin-right:1%;
										  border:0;
										  border-bottom:1px solid #828282;
										  background:none;
										  padding-left:10px;
										 }
.content_search_box>div>input[type="submit"]{width:15%;
										  border:0;
										  background:#03a0ff;
										  border-radius:3px;
										  -webkit-border-radius:3px;
										  -moz-border-radius:3px;
										  -ms-border-radius:3px;
										  -o-border-radius:3px;
										  text-align:center;
										  
										 }
.content_search_box>div>label[for="content_search_button"]{color:#828282;
													 margin-left:8%;
													 text-align:center;
													 line-height:30px;
													}

#content_search_button:checked+label+form.content_search_box{display:block;
													   transform:translateX(0);
														-webkit-transform:translateX(0);
														-moz-transform:translateX(0);
														-ms-transform:translateX(0);
														-o-transform:translateX(0);
													  }

.fix{position:fixed !important; 
     top:0 !important; right:0 !important;
	 z-index:500 !important;
	}


}


@media screen and (min-width:768px) and (max-width:960px){
.content{position:relative;}
#page_num{max-width:1200px;
		  min-width:300px;
		  height:20px;
		  margin:0 auto 60px;
		  text-align:center;
		  }

#page_num>div{overflow:hidden;
			  display:inline-block;
			  }

#page_num>div>p{float:left;
			margin:0 5px;
			color:#fff;
			font-size:16px;
			background:radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
					   rgba(200,200,200,0.3);
			background:-webkit-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			background:-moz-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			background:-o-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			width:25px; height:25px;
			line-height:25px;
			text-align:center;
			border-radius:50%;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			-ms-border-radius:50%;
			-o-border-radius:50%;
			}
#page_num>div>p>label{display:block;}


.controller{position:absolute;
				 top:120px;
				 right:0;
				 
				 border-radius:15px;				 
				 background:rgba(255,255,255,0.5);
				 text-align:center;
				z-index:500;
				}


.controller>ul>li>a{color:#000;
						 font:bold 1em  "Do Hyun",sans-serif;
						 padding:10px 5px;
						 display:block;
						}
.controller>ul>li{margin:10px 0;}

.controller>ul>li>label{display:block;}
.controller>ul>li:not(:last-child):after{content:"";
							 display:block;
							 width:90%;
							 margin:0 auto;
							 height:1px;
							background:#ebebeb;}


.content_search_box input{display:block;}
.controller>ul>li:nth-child(3){position:relative;}

.controller>ul>li>label>img,
.controller>ul>li>a>img{height:30px;}

.content_search_box{position:absolute;
				 right:54px; bottom:0;
				 width:600%; height:100%;
				 background:rgba(255,255,255,0.8);
				 border-radius:15px;
				 -webkit-border-radius:15px;
				 -moz-border-radius:15px;
				 -ms-border-radius:15px;
				 -o-border-radius:15px;
				transition:all ease-out 0.5s;
				-webkit-transition:all ease-out 0.5s;
				-moz-transition:all ease-out 0.5s;
				-ms-transition:all ease-out 0.5s;
				-o-transition:all ease-out 0.5s;
				transform:translateX(150%);
				-webkit-transform:translateX(150%);
				-moz-transform:translateX(150%);
				-ms-transform:translateX(150%);
				-o-transform:translateX(150%);
				display:none;
				}
.content_search_box>div{overflow:hidden;
					 padding:3% 2%;
					 height:100%;
					}
.content_search_box>div>label,
.content_search_box>div>input{float:left;
						   display:block;
						   height:30px;
						   line-height:30px;
						   font:bold 1em "Do Hyun",sans-serif;
						   }
.content_search_box>div>label>img{display:block;
							   vertical-align:top;
							  }
.content_search_box>div>label[for="content_search"]{margin-right:3%;}
.content_search_box>div>input[type="search"]{width:50%;
										  margin-right:1%;
										  border:0;
										  border-bottom:1px solid #828282;
										  background:none;
										  padding-left:10px;
										 }
.content_search_box>div>input[type="submit"]{width:10%;
										  border:0;
										  background:#03a0ff;
										  border-radius:3px;
										  -webkit-border-radius:3px;
										  -moz-border-radius:3px;
										  -ms-border-radius:3px;
										  -o-border-radius:3px;
										  text-align:center;
										  line-height:30px;
										 }
.content_search_box>div>label[for="content_search_button"]{color:#828282;
													 margin:5px 0 0 8%;
													 text-align:center;
													}

#content_search_button:checked+label+form.content_search_box{display:block;
													   transform:translateX(0);
														-webkit-transform:translateX(0);
														-moz-transform:translateX(0);
														-ms-transform:translateX(0);
														-o-transform:translateX(0);
													  }



.fix{position:fixed !important; 
     top:120px !important; right:0 !important;
	 z-index:500 !important;
	}


}


@media screen and (max-width:767px){
#page_num{width:96.25%;
		  height:20px;
		  margin:0 auto 60px;
		  position:relative;
		  text-align:center;
		  }

#page_num>div{overflow:hidden;
			  display:inline-block;			 
			  }

#page_num>div>p{float:left;
			margin:0 2px;
			color:#fff;
			font-size:16px;
			background:radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
					   rgba(200,200,200,0.3);
			background:-webkit-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			background:-moz-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			background:-o-radial-gradient(circle,rgba(200,200,200,0.5),rgba(200,200,200,0)),
						rgba(200,200,200,0.3);
			width:25px; height:25px;
			line-height:25px;
			text-align:center;
			border-radius:50%;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			-ms-border-radius:50%;
			-o-border-radius:50%;
			}
#page_num>div>p>label{display:block;}

.controller{border-bottom:1px solid #000;
				 background:#fff;
				 text-align:center;
				 height:80px;
				 line-height:80px;
				 width:100%;
				 display:none;
				}

.controller>ul{height:100%;
					width:100%;
					}
.controller>ul>li>a,
.controller>ul>li>label{display:block;}

.controller>ul>li img{vertical-align:middle;}
.controller>ul>li>a:not(:first-child){display:none;}
.controller>ul>li{float:left;
					position:relative;
					width:25%;
					margin:0;
						}

.controller>ul>li>label>img,
.controller>ul>li>a>img{height:25px;}

.controller>ul>li>label>p,
.controller>ul>li>a>p{display:none;}

.controller>ul>li:not(:last-child):after{content:"";
							 display:block;
							 width:1px;
							 margin:0 auto;
							 height:90%;
							background:#ebebeb;
							position:absolute;
							left:100%; top:5px;							
							}

.content_search_box input{display:block;}



.content_search_box{position:absolute;
				 left:-200%; top:-60px;
				 width:400%; height:60px;
				 background:#fff;
				 border-radius:15px;
				 -webkit-border-radius:15px;
				 -moz-border-radius:15px;
				 -ms-border-radius:15px;
				 -o-border-radius:15px;
		transition:all ease-out 0.5s;
		-webkit-transition:all ease-out 0.5s;
		-moz-transition:all ease-out 0.5s;
		-ms-transition:all ease-out 0.5s;
		-o-transition:all ease-out 0.5s;
		display:none;
		
		}
.content_search_box>div{overflow:hidden;
					 padding:3% 0 0 10%;
					 height:100%;
					}
.content_search_box>div>label,
.content_search_box>div>input{float:left;
						   display:block;
						   height:30px;						   
						   font:bold 1.5em/30px "Do Hyun",sans-serif;
						   }
.content_search_box>div>label>img{display:block;
							   vertical-align:top;
							  }
.content_search_box>div>label[for="content_search"]{margin-right:3%;}
.content_search_box>div>input[type="search"]{width:50%;
										  margin-right:1%;
										  border:0;
										  border-bottom:1px solid #828282;
										  background:none;
										  padding-left:10px
										 }
.content_search_box>div>input[type="submit"]{width:10%;
										  border:0;
										  background:#03a0ff;
										  border-radius:3px;
										  -webkit-border-radius:3px;
										  -moz-border-radius:3px;
										  -ms-border-radius:3px;
										  -o-border-radius:3px;
										  text-align:center;
										  
										 }
.content_search_box>div>label[for="content_search_button"]{color:#828282;
													 margin:0 0 0 8%;
													  text-align:center;
													}

#content_search_button:checked+label+form.content_search_box{display:block;}

.fix{position:fixed !important;
	 bottom:0 !important; right:0 !important;	
	 z-index:500 !important;	 
	 display:block !important;	 
	}


}




